.gradle
/AdMore-Uni-Android-Demo/local.properties
/AdMore-Uni-Android-Demo/.idea/workspace.xml
/AdMore-Uni-Android-Demo/.idea/libraries
.DS_Store
/AdMore-Uni-Android-Demo/build
AdMore-Uni-Android-Demo//captures
/AdMore-Uni-Android-Demo/.idea/
/AdMore-Uni-Android-Demo/app/.cxx/
# 平台相关，暂时忽略
build-cfg.json

*.iml
.gradle
/AdMore-Uni-Android-Demo/local.properties
/AdMore-Uni-Android-Demo/.idea/caches
/AdMore-Uni-Android-Demo/.idea/libraries
/AdMore-Uni-Android-Demo/.idea/modules.xml
/AdMore-Uni-Android-Demo/.idea/workspace.xml
/AdMore-Uni-Android-Demo/.idea/navEditor.xml
/AdMore-Uni-Android-Demo/.idea/assetWizardSettings.xml
.DS_Store
/AdMore-Uni-Android-Demo/build
/AdMore-Uni-Android-Demo/captures
.externalNativeBuild
.cxx
AdMore-Uni-Android-Demo/local.properties
AdMore-Uni-Android-Demo/.idea/
AdMore-Uni-Android-Demo/Demo/build/% 
AdMore-Uni-Android-Demo/simpleDemo/build
AdMore-Uni-Android-Demo/simpleDemo/test.jks